<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: main-layout(~{::section})}">
    <section>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3>Especialidades</h3>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEsp"><i class="fa-solid fa-plus"></i> Nueva</button>
        </div>
        <ul class="list-group shadow-sm">
            <li class="list-group-item d-flex justify-content-between align-items-center" th:each="e : ${especialidades}">
                <span th:text="${e.des}"></span>
                <span class="badge bg-primary rounded-pill" th:text="${e.id}"></span>
            </li>
        </ul>
        <div class="modal fade" id="modalEsp" tabindex="-1"><div class="modal-dialog"><div class="modal-content">
                    <form action="/especialidades/guardar" method="post" th:object="${nuevaEspecialidad}">
                        <div class="modal-header"><h5 class="modal-title">Nueva Especialidad</h5><button type="button" class="btn-close" data-bs-dismiss="modal"></button></div>
                        <div class="modal-body">
                            <label>Descripción</label><input type="text" class="form-control" th:field="*{des}" required>
                        </div>
                        <div class="modal-footer"><button type="submit" class="btn btn-primary">Guardar</button></div>
                    </form>
                </div></div></div>
    </section>
</html>